# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env
.env.*

# IDEs
.idea/
.vscode/

# Other
*.log
*.swp
.DS_Store
Thumbs.db
