# Default values for backend sub-chart.
replicaCount: 1

image:
  repository: todo-backend
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 8000 # FastAPI default port

# Baki settings default rehne dein
serviceAccount:
  create: true
  name: ""

ingress:
  enabled: false

resources: {}

autoscaling:
  enabled: false